# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [5]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep ="\t")

### Step 4. See the first 10 entries

In [6]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
observations = df.count(1)

In [8]:
# Solution 2

observations2 = len(df)

### Step 6. What is the number of columns in the dataset?

In [9]:
coloumns_total = df.shape[1]
print(coloumns_total)

5

### Step 7. Print the name of all the columns.

In [10]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [12]:
df.groupby("item_name")["quantity"].sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chicken Crispy Tacos                      50
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [16]:
df[df["item_name"] == "Chicken Bowl"]["quantity"].sum()

np.int64(761)

### Step 11. What was the most ordered item in the choice_description column?

In [27]:
mais_pedido =df.groupby("choice_description")["quantity"].sum().idxmax()
print(f"{mais_pedido} is the more ordered")

[Diet Coke] is the more ordered

### Step 12. How many items were orderd in total?

In [28]:
df["quantity"].sum()

np.int64(4972)

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [33]:
df["item_price"].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
df["item_price"] = df["item_price"].apply(lambda i: float(i[1:])) #Ao executar e dar erro, ignora esse erro aí, ele só deu pq eu já executei a linha, então executar de novo obviamente vai dar erro

#### Step 13.c. Check the item price type

In [43]:
df["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [49]:
df["receita"] = df["quantity"] * df["item_price"]

### Step 15. How many orders were made in the period?

In [51]:
print(f"vendemos R${df["receita"].sum()} dólares")

vendemos R$39237.02 dólares

### Step 16. What is the average revenue amount per order?

In [64]:
# Solution 1
df.groupby("order_id")["receita"].sum().mean()

np.float64(21.39423118865867)

In [ ]:
# Solution 2
#Sem solução 2 por enquant

### Step 17. How many different items are sold?

In [67]:
df['item_name'].nunique()

50